{% extends "bp/base.html" %}

{% load fontawesome_5 %}

{% block navbar_breadcrumbs %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">BP Tool</a>
      {{request.user.first_name}} {{request.user.last_name}} ({{request.user.username}})
    </nav>
    <ol class="breadcrumb">
        {% block breadcrumbs %}
            <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
        {% endblock %}
    </ol>
{% endblock %}

{% block content %}
    <div>
        {% if request.user.is_anonymous %}
            <div class="text-center well well-lg">
                <h3 >Log in via your LMS</h3>
            </div>
        {% else %}
            {% if request.user.tl and request.user.tl.confirmed %}
                {% block tl_content %}
                    <h3 class="mb-4">Hallo {{ request.user.tl.name }} <a class="btn btn-info" href="{% url "bp:index" %}">{% fa5_icon "level-up-alt" "fas" %}</a></h3>
                {% endblock %}
            {% elif request.user.tl %}
                <h2>Eine Bestätigung des Zugangs als TL durch das Orgateam steht noch aus.</h2>
            {% elif request.user.student %}
                {% block student_content %}
                    <h3 class="mb-4">Hallo {{ request.user.student.name }} <a class="btn btn-info" href="{% url "bp:index" %}">{% fa5_icon "level-up-alt" "fas" %}</a></h3>
                {% endblock %}
            {% elif request.user.is_superuser %}
                {% block orga_content %}
                    <h3 class="mb-4">Hallo {{request.user.first_name}} {{request.user.last_name}} <a class="btn btn-info" href="{% url "bp:index" %}">{% fa5_icon "level-up-alt" "fas" %}</a></h3>
                {% endblock %}
            {% else %}
                <h2>Ein Fehler ist aufgetreten.</h2>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
 