{% extends "bp/base_control.html" %}

{% load fontawesome_5 %}

{% block shown_block_to_anonymous_user %}
{% block shown_block_to_unconfirmed_tl %}
{% block shown_block_if_error %}
{% endblock %}
{% endblock %}
{% endblock %}

{% block shown_block_to_confirmed_tl %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{% url "bp:index" %}">BP Tool</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "bp:timetracking_tl_start" %}">Zeiterfassung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "bp:log_tl_start" %}">Logs</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {{request.user.first_name}} {{request.user.last_name}} ({{request.user.username}})
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block shown_block_to_student %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{% url "bp:index" %}">BP Tool</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "bp:timetracking_tl_start" %}">Zeiterfassung</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {{request.user.first_name}} {{request.user.last_name}} ({{request.user.username}})
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block shown_block_to_orga %}
    {% include "bp/navbar.html" %}
{% endblock %}

