{% load tags_project_info_misc %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab"
           href="#g_1">
            {% log_description %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab"
           href="#g_2">
            {% orgalog_description %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab"
           href="#g_3">
            {% grading_description %}
        </a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade active show" id="g_1">
        <h3 class="my-4">{% log_description %}</h3>

        {% log_content %}
    </div>

    <div class="tab-pane fade" id="g_2">
        <h3 class="my-4">{% orgalog_description %}</h3>

        {% orgalog_content %}
    </div>

    <div class="tab-pane fade" id="g_3">
        <h3 class="my-4">{% grading_description %}</h3>

        {% grading_content %}
    </div>

</div>