{% extends "bp/base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item active">Projekte</li>
{% endblock %}


{% block content %}
    <div class="float-right mb-4">
        {% if user.is_staff %}
            <a class="btn btn-danger" href="{% url "bp:project_import" %}">Projekte importieren</a>
            <a class="btn btn-info" href="{% url "bp:project_export_grades" %}">Punkte für Moodle exportieren</a>
        {% endif %}
    </div>

    <h1>Projekte</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nr</th>
            <th>Title</th>
            <th>TL</th>
            <td>AG</td>
            <td>Studierende</td>
            {% if user.is_staff %}
                <td>Bewertung</td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{% url 'bp:project_detail' project.pk %}">{{ project.nr }}</a></td>
                <td><a href="{% url 'bp:project_detail' project.pk %}">{{ project.title }}</a></td>
                <td>{% if project.tl %}{{ project.tl }}{% else %}-{% endif %}</td>
                <td><a href="mailto:{{ project.ag_mail }}">{{ project.ag }}</a></td>
                <td>{{ project.student_list }}</td>
                {% if user.is_staff %}
                    <td>{% if project.ag_points > -1 %}{{ project.ag_points }}{% else %}-{% endif %}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
