{% extends "bp/base.html" %}

{% load fontawesome_5 %}
{% load tags_bp %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:project_list" %}">Projekte</a></li>
    <li class="breadcrumb-item active">{{ project.nr }}: {{ project.title }}</li>
{% endblock %}


{% block content %}
    <h1>{{ project.nr }}: {{ project.title }}</h1>

    {% project_info_table %}

    {% project_info_tabs %}

{% endblock %}
