{% load fontawesome_5 %}
{% load tags_info %}

<table class="table">
    {% comment The idea for this table is to eventually look like this: %}
    {% for info in infos %}
        <tr>
            {% info %}
        </tr>
    {% endfor %}
    {% endcomment %}

    <tr>
        {% tl_info %}
    </tr>
    <tr>
        {% member_info %}
    </tr>
    <tr>
        <td>AG:</td><td><a href="mailto:{{ project.ag_mail }}">{{ project.ag }}&nbsp;{% fa5_icon "envelope" "far" %}</a></td>
    </tr>
    <tr>
        <td>Weitere Informationen:</td><td><a href={{ info_url }}>{{ info_url }}</a></td>
    </tr>
    {% if project.ag_points >= 0 %}
        <tr>
            <td>Bewertung:</td><td><b>{{ project.ag_points }} Punkte</b><br><br>{{ project.ag_points_justification|linebreaks }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>Gesamtstunden:</td><td><a href="{% url "bp:timetracking_project_overview" group=project.nr %}">{{ total_hours_spent }}</a></td>
    </tr>
</table>
