{% load fontawesome_5 %}
{% load tags_bp %}

<table class="table">
    {% for itv in timetable %}
    <tr>
        {% for student, interval, entry in itv %}
            <td>
               {% if not forloop.first and forloop.parentloop.first %}
                   {% if not user.is_superuser %}
                       <a href="{% url "bp:timetracking_members_detail" group=project.nr pk=entry.pk %}">
                   {% endif %}
                   {{entry.name}}
                   {% if not user.is_superuser %}
                       </a>
                   {% endif %}

               {% elif forloop.first and not forloop.parentloop.first %}
                   {% if not user.is_superuser %}
                       <a href="{% url "bp:timetracking_interval_detail" group=project.nr pk=entry.pk %}">
                   {% endif %}
                   {{entry.name}}
                   {% if not user.is_superuser %}
                       </a>
                   {% endif %}
               {% else %}
                   {{entry}}
               {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% if students %}
    <tr>
        <td class="font-weight-bold">
            Gesamtstunden:
        </td>
        {% for s in students %}
            <td class="font-weight-bold">{{s.total_hours}}</td>
        {% endfor %}
    </tr>
    {% endif %}

</table>
