{% load fontawesome_5 %}
{% load tags_bp %}

<table class="table">
    {% for itv in intervals %}
        {% if forloop.first %}
        <tr>
            <td>Name</td>
            <td>Beginn</td>
            <td>Ende</td>
        </tr>
        {% endif %}
        <tr>
            <td>{{itv.name}}</td>
            <td>{{itv.start}}</td>
            <td>{{itv.end}}</td>
            <td>
                <a href="{% url "bp:timetracking_interval_update" itv.group.nr itv.pk %}">{% fa5_icon "pen" 'fas' %}</a>
                {% if not itv.timetrackingentry_set.all %}
                    <a href="{% url "bp:timetracking_interval_delete" itv.group.nr itv.pk %}">{% fa5_icon "trash" 'fas' %}</a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
￼       Keine Intervalle angelegt
￼   {% endfor %}
</table>
