{% load fontawesome_5 %}
{% load tags_bp %}

{% block imports %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // CSRF Protection/Authentication
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            const csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            update_hours = function (category, hours, url, id) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        category : category,
                        hours : hours
                    },
                    success: function (response) {
                        let diff = hours-getOriginalValueOf(id);
                        let sign = "";
                        let color = 'red'
                        if (diff === 0) {
                            sign = "±"
                            color = 'grey';
                        } else if (diff > 0) {
                            sign = "+"
                            color = 'green';
                        }
                        document.getElementById(id + "-difference").textContent = "(" + sign + diff + ")";
                        document.getElementById(id + "-difference").style.color = color;
                        document.getElementById(id + "-current-value").textContent = response;
                        editValue(id)
                    },
                    error: function (response) {
                       alert("Fehler! Stunden konnten nicht bearbeitet werden: " + hours + ".");
                    }
               });
            };



            // check field for validity and add if valid
            check_and_add_hours = function(category, input_field, url, id) {
                if (input_field.checkValidity()) {
                    update_hours(category, input_field.valueAsNumber, url, id);
                } else {
                    input_field.reportValidity();
                }
            };
        });

        function getCurrentValueOf(id) {
            return parseFloat(document.getElementById(id + "-current-value").innerHTML.replace(",", "."));
        }

        function getOriginalValueOf(id) {
            return parseFloat(document.getElementById(id + "-original-value").innerHTML.replace(",", "."));
        }

        // Edit value
        function editValue(id) {
            let hide = true;
            if(document.getElementById(id).hidden === true) {
                hide = false
                document.getElementById(id).value = getCurrentValueOf(id);
            }
            document.getElementById(id).hidden = hide;
            document.getElementById(id + "-send").hidden = hide;
        }
    </script>
{% endblock %}

<table class="table">
    {% for itv in timetable %}
    <tr>
        {% for category, interval, entry in itv %}
            <td id="{{ category }}-{{ interval.pk }}-text">
               {% if forloop.first and not forloop.parentloop.first %}
                   <a href="{% url "bp:timetracking_interval_detail" group=group.nr pk=entry.pk %}">{{entry.name}}</a>
               {% else %}
                   <span id="{{ category }}-{{ interval.pk }}-current-value">{{entry}}</span>
                   <span id="{{ category }}-{{ interval.pk }}-difference"></span>
                   <span id="{{ category }}-{{ interval.pk }}-original-value" hidden>{{entry}}</span>
                   {% if not forloop.parentloop.first and interval.is_editable_by_students and can_edit_entries %}
                       <abbr title='Bearbeite Stundenanzahl für {{ category }} in {{ entry.name }}'>
                            <a class="btn btn-secondary" onclick='editValue("{{ category }}-{{ interval.pk }}")'>{% fa5_icon "pen" 'fas' %}</a>
                       </abbr>
                       <input type="number" hidden id="{{category}}-{{ interval.pk }}" min=0 max=999 step="0.25">
                       <abbr title='Die eingegebene Stundenanzahl wir als neue Stundenzahl für {{ category }} im ausgewählte Intervall gespeichert.'>
                            <a class="btn btn-primary btn-success" hidden id="{{ category }}-{{ interval.pk }}-send"
                               onclick='check_and_add_hours("{{ category }}",
                                                            document.getElementById("{{ category }}-{{ interval.pk }}"),
                                                            "{% url "bp:timetracking_api_add_hours" group=group.nr pk=interval.pk %}",
                                                            "{{ category }}-{{ interval.pk }}"
                                                           )'>Speichern</a>
                       </abbr>
                   {% endif %}
               {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
