{% extends "bp/base_tl.html" %}

{% load fontawesome_5 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:timetracking_tl_start" %}">Zeiterfassung</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:timetracking_project_overview" group=project.nr %}">{{ project.nr }}: {{ project.title }}</a></li>
    <li class="breadcrumb-item active">Intervallverwaltung</li>
{% endblock %}

{% block tl_content %}
    <div class="float-right mb-4">
        <a class="btn btn-success" href="{% url "bp:timetracking_interval_create" group=group %}">{% fa5_icon "plus" 'fas' %} Intervall anlegen</a>
    </div>
    <div class="float-right mx-2 mb-4">
        <a class="btn btn-success" href="{% url "bp:timetracking_interval_generate" group=group %}">{% fa5_icon "plus-square" 'fas' %} Intervalle generieren</a>
    </div>
    <h3 class="my-4">{{ project.nr }}: {{ project.title }}</h3>
    {% include "bp/timetracking/render_timetracking_intervals.html" with intervals=intervals %}
{% endblock %}