{% extends "bp/base_tl.html" %}

{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block student_content %}
    <h3 class="my-4">{{ group.nr }}: {{ group.title }}</h3>
    <h5>Stunden korrigieren ({{ timeinterval.name }})</h5>
    <h5 >{{ timeinterval.start }} - {{ timeinterval.end }}</h5>
    <turbo-frame id="form">
        <form method="POST" class="post-form">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="save btn btn-primary float-right">
                    {% fa5_icon "check" 'fas' %} Korrigieren
                </button>
                <a href="{% url 'bp:timetracking_interval_detail' group=group.nr pk=timeinterval.pk %}" class="btn btn-secondary">
                    Abbrechen
                </a>
            {% endbuttons %}
        </form>
    </turbo-frame>
{% endblock %}