{% extends "bp/base_tl.html" %}

{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block tl_content %}
    <p>Zeitintervall anzeigen und eintragen:</p>

    <form method="POST" class="post-form">{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="save btn btn-primary float-right">
                {% fa5_icon "check" 'fas' %} Speichern
            </button>
            <a href="{% url "bp:timetracking_intervals" timeinterval.group.nr %}" class="btn btn-warning float-left">Abbrechen</a>
        {% endbuttons %}
    </form>
{% endblock %}