{% extends "bp/base_tl.html" %}

{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:timetracking_tl_start" %}">Zeiterfassung</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:timetracking_project_overview" group=group.nr %}">{{ group.nr }}: {{ group.title }}</a></li>
    <li class="breadcrumb-item active">{{ timeinterval.name }}</li>
{% endblock %}

{% block student_content %}

    <h1>Zeiten für {{ timeinterval.name }} {% if not is_student_editable %}(Archiviert){% endif %}</h1>
    <h5>{{ timeinterval.start }} - {{ timeinterval.end }}</h5>

    {% include "bp/timetracking/render_timetracking.html" with timetable=timetable %}

{% endblock %}

{% block tl_content %}
	    <div class="float-right mb-4">
            {% if not is_student_editable %}
	            <a class="btn btn-primary" href="{% url "bp:timetracking_interval_tl_correct" group=group.nr pk=timeinterval.pk %}">{% fa5_icon "pen" 'fas' %} Stunden korrigieren</a>
            {% else %}
                <abbr title="Dieses Intervall kann nicht vom/von der Teamleiter/in bearbeitet werden, da die Bearbeitungszeit der Gruppen-Mitglieder von diesem Intervall noch nicht abgelaufen ist.">
                    <a class="btn btn-primary disabled-button" style="cursor: not-allowed" disabled>{% fa5_icon "pen" 'fas' %} Stunden korrigieren</a>
                </abbr>
            {% endif %}
	    </div>

    <h1>Zeiten für {{ timeinterval.name }} {% if not is_student_editable %}(Archiviert){% endif %}</h1>
    <h5>{{ timeinterval.start }} - {{ timeinterval.end }}</h5>

    {% include "bp/timetracking/render_timetracking.html" with timetable=timetable %}

{% endblock %}