{% extends "bp/base_tl.html" %}

{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:timetracking_tl_start" %}">Zeiterfassung</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:timetracking_project_overview" group=group.nr %}">{{ group.nr }}: {{ group.title }}</a></li>
    <li class="breadcrumb-item active">{{ member.name }}</li>
{% endblock %}

{% block tl_content %}
{% block student_content %}
    <h1>Zeiten für {{ member.name }}</h1>

    {% include "bp/timetracking/render_timetracking_members.html" with timetable=timetable %}

{% endblock %}
{% endblock %}
