{% extends "bp/base_tl.html" %}

{% load fontawesome_5 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:timetracking_tl_start" %}">Zeiterfassung</a></li>
    <li class="breadcrumb-item active">{{ project.nr }}: {{ project.title }}</li>
{% endblock %}

{% block imports %}
    <style>
        @media only print {
            body { visibility: hidden; }
            .printthis { visibility: visible; }
        }
    </style>
{% endblock %}


{% block student_content %}
{% block tl_content %}
    <h3 class="my-4 printthis">{{ project.nr }}: {{ project.title }}</h3>


<div id="myTabContent" class="tab-content">

    <div class="float-right mb-4">
        <button class="btn btn-info" onclick="window.print()">Zeiterfassung für Moodle exportieren</button>
        <a class="btn btn-success" href="{% url "bp:timetracking_statistics_tl_and_student" group=project.nr %}">{% fa5_icon "chart-bar" "fas" %} Graphen</a>
    </div>
    <h4 class="mt-3 printthis">Überblick ({{ total_hours }}h / {{ project.expected_hours }}h)</h4>
    <div id="tt_table" class="printthis">
        {% include "bp/timetracking/render_timetracking_overview.html" with project=project timetable=timetable %}
    </div>
</div>
{% endblock %}
{% endblock %}

{% block orga_content %}
    <h3 class="my-4 printthis">{{ project.nr }}: {{ project.title }}</h3>


<div id="myTabContent" class="tab-content">

    <div class="float-right mb-4">
        <button class="btn btn-info" onclick="window.print()">Zeiterfassung für Moodle exportieren</button>
    </div>
    <h4 class="mt-3 printthis">Überblick ({{ total_hours }}h / {{ project.expected_hours }}h)</h4>
    <div id="tt_table" class="printthis">
        {% include "bp/timetracking/render_timetracking_overview.html" with project=project timetable=timetable %}
    </div>
</div>
{% endblock %}
