{% extends "bp/base.html" %}

{% block content %}
    <h1>BP Übersicht</h1>

    <h2 class="text-info mb-3">{{ bp.name }}</h2>

    <div class="row">
        <div class="card text-white bg-primary mb-3 mx-2 col-md-5" style="padding:0;">
            <div class="card-header">Projekte</div>
            <div class="card-body">
                <h4 class="card-title">{{ projects_count}} Projekt{{ projects_count|pluralize:"e" }}</h4>
                <p class="card-text">
                    Bewertet: {{ projects_graded_count }}<br><br>
                    <a href="{% url "bp:project_list" %}" class="btn btn-secondary mb-1">Zur Liste</a>
                    <a href="{% url "bp:project_list_ungraded" %}" class="btn btn-secondary mb-1">Liste (Unbewertet)</a>
                    <a href="{% url "bp:timetracking_statistics_orga" %}" class="btn btn-secondary mb-1">Zeiterfassung</a>
                </p>
            </div>
        </div>

        <div class="card bg-info text-white mb-3 mx-2 col-md-5" style="padding:0;">
            <div class="card-header">Teamleitungen</div>
            <div class="card-body">
                <h4 class="card-title">{{ tls_count}} Teamleitung{{ tls_count|pluralize:"en" }}</h4>
                <p class="card-text">
                    {{ tls_unconfirmed_count }} TL{{ tls_unconfirmed_count|pluralize:"s" }} noch nicht bestätigt.
                </p>
                <a href="{% url "bp:tl_list" %}" class="btn btn-secondary">Zur Liste</a>
            </div>
        </div>

        <div class="card bg-info text-white mb-3 mx-2 col-md-5" style="padding:0;">
            <div class="card-header">Logs</div>
            <div class="card-body">
                <h4 class="card-title">{{ logs_count}} Log{{ logs_count|pluralize:"s" }}</h4>
                <p class="card-text">
                    {{ projects_without_recent_logs_count }} Projekt{{ projects_without_recent_logs_count|pluralize:"e" }} {{ projects_without_recent_logs_count|pluralize:"hat,haben" }} keine Logs aus den letzten {{ log_period }} Tagen
                </p>
                <a href="{% url "bp:log_list" %}" class="btn btn-secondary mb-1">Alle Logs</a>
                <a href="{% url "bp:log_list_unread" %}" class="btn btn-secondary mb-1">Ungelesen <span class="badge rounded-pill bg-info text-white font-weight-bold">{{ logs_unread_count }}</span></a>
                <a href="{% url "bp:log_list_attention" %}" class="btn btn-secondary mb-1">Besondere Aufmerksamkeit <span class="badge rounded-pill bg-info text-white font-weight-bold">{{ logs_attention_count }}</span></a>
            </div>
        </div>

        {% if students_without_project.count == 0 %}
            <div class="card text-white bg-success mb-3 mx-2 col-md-5" style="padding:0;">
                <div class="card-header">Teilnehmende</div>
                <div class="card-body">
                    <h4 class="card-title">{{ students.count}} Teilnehmende</h4>
                    <p class="card-text">Alle Studierenden sind Teil von Projektgruppen.</p>
                    <a href="{% url "bp:student_list" %}" class="btn btn-secondary">Zur Liste</a>
                </div>
            </div>
        {% else %}
        <div class="card text-white bg-danger mb-3 mx-2 col-md-5" style="padding:0;">
            <div class="card-header">Teilnehmende</div>
            <div class="card-body">
                <h4 class="card-title">{{ students.count}} Teilnehmende</h4>
                <p class="card-text">{{ students_without_project.count}} Studierende {{ students_without_project.count|pluralize:"ist,sind" }} nicht Teil einer Projektgruppe.</p>
                <a href="{% url "bp:student_list" %}" class="btn btn-secondary">Zur Liste</a>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}
