{% extends "bp/base.html" %}

{% load fontawesome_5 %}
{% load tags_bp %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock %}


{% block content %}
    <div class="float-right">
        <a class="btn btn-primary" href="{% url "bp:log_list" %}">Alle</a>
        <a class="btn btn-warning" href="{% url "bp:log_list_unread" %}">{% fa5_icon "filter" "fas" %} Ungelesen</a>
        <a class="btn btn-warning" href="{% url "bp:log_list_unrated" %}">{% fa5_icon "filter" "fas" %} Unbewertet</a>
        <a class="btn btn-warning" href="{% url "bp:log_list_attention" %}">{% fa5_icon "filter" "fas" %} Aufmerksamkeit nötig</a>
        <a class="btn btn-info" href="{% url "bp:log_remind" 7 %}">{% fa5_icon "clock" "fas" %} Fehlende Logs</a>
    </div>
    <h1>{{ page_title }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Wann?</th>
            <th>Gruppe</th>
            <th>Von</th>
            <th>Status</th>
            <th>Probleme</th>
            <th>Text</th>
            <th></th>
        </tr>
        </thead>
        {% for tllog in logs %}
            <tr {% if tllog.requires_attention %} class="table-warning" {% endif %}>
                <td>{% if not tllog.read %}
                    <a href="{% url "bp:log_detail" pk=tllog.pk %}">
                        {% fa5_icon "circle" "fas" %}
                    </a>
                    {% endif %}
                </td>
                <td><a href="{% url "bp:log_detail" pk=tllog.pk %}">{{ tllog.simple_timestamp }}</a></td>
                <td><a href="{% url "bp:project_detail" pk=tllog.group.pk %}">{{ tllog.project_title }}</a></td>
                <td><a href="{% url "bp:tl_detail" pk=tllog.tl.pk %}">{{ tllog.tl }}</a></td>
                <td>{{ tllog.status | log_status }}</td>
                <td>{{ tllog.problems }}</td>
                <td>{{ tllog.text | linebreaksbr | truncatewords:50 }}</td>
                <td>
                    {% if tllog.handled %}
                        {% fa5_icon "check-square" "fas" %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="text-center">
        <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">&lt;</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&gt;</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
