{% if log_count > 0 %}
    <canvas id="statusChart" width="100%" height="15vh" class="mb-5"></canvas>
    <script>
        const ctx = $('#statusChart');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'status',
                    data: {{status_data|safe}},
                    backgroundColor: '#1F9BCF',
                    borderColor: '#1F9BCF',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        suggestedMin: -2,
                        suggestedMax: 2
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
        </script>
    {% include "bp/tllogs/render_logs.html" with logs=logs can_read_as_orga=True %}
{% else %}

{% endif %}

