{% load tags_project_info_misc %}
{% load tags_bp %}

<ul class="nav nav-tabs">
    {% for desc, content in infos %}
	    <li class="nav-item">
	        <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab"
	           href="#g_{{ forloop.counter }}">
	            {% render desc tags_project_info_misc %}
	        </a>
	    </li>
    {% endfor %}
</ul>

<div id="myTabContent" class="tab-content">

    {% for desc, content in infos %}
	    <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="g_{{ forloop.counter }}">
	        <h3 class="my-4">{% render desc tags_project_info_misc %}</h3>

	        {% render content tags_project_info_misc %}
	    </div>
    {% endfor %}
</div>