{% extends "bp/base.html" %}

{% load bootstrap4 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:project_list" %}">Projekte</a></li>
    <li class="breadcrumb-item active">Import</li>
{% endblock %}

{% block content3 %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Submit"/>
</form>
{% endblock %}


{% block content %}
    <h1>Import: Projekte</h1>

    <form method="POST" class="post-form" enctype='multipart/form-data'>{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="save btn btn-primary float-right">
                Importieren
            </button>
            <button type="reset" class="btn btn-danger">
                Zurücksetzen
            </button>

            <a href="{% url 'bp:project_list' %}" class="btn btn-secondary">
                Abbrechen
            </a>
        {% endbuttons %}
    </form>

    <h5>Struktur CSV-Datei:</h5>
    <ul>
        <li>Die CSV-Datei muss {{ separator_name }}-separiert sein</li>
        <li>Die Datei muss folgende Spalten enthalten:</li>
        <ul>
            <li><u>{{ project }}</u>: Nummer des Projekts</li>
            <li><u>{{ client }}</u>: Name Auftraggeber</li>
            <li><u>{{ client_mail }}</u>: E-Mail-Adresse Auftraggeber</li>
            <li><u>{{ project_name }}</u>: Name des Projekts</li>
            <li><u>{{ pretix_id }}</u>: Pretix Order ID des Projekts</li>
        </ul>
    </ul>

    <h5>Beispielhafte CSV-Datei:</h5>
    <div class="code-example">
        {{ project }}{{ separator }}{{ client }}{{ separator }}{{ client_mail }}{{ separator }}{{ project_name }}{{ separator }}{{ pretix_id }}<br>
        1{{ separator }}Auftraggeber2{{ separator }}auftraggeber2@mail.de{{ separator }}Projekt 4{{ separator }}2<br>
        3{{ separator }}Auftraggeber15{{ separator }}auftraggeber15@mail.de{{ separator }}Projekt 3{{ separator }}3<br>
        4{{ separator }}Auftraggeber7{{ separator }}auftraggeber7@mail.de{{ separator }}Projekt 6{{ separator }}4
    </div>

{% endblock %}

