{% extends "bp/base.html" %}

{% load bootstrap4 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="{% url "bp:project_list" %}">Projekte</a></li>
    <li class="breadcrumb-item active">Import</li>
{% endblock %}

{% block content3 %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Submit"/>
</form>
{% endblock %}


{% block content %}
    <h1>Import: Projekte</h1>

    <form method="POST" class="post-form" enctype='multipart/form-data'>{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="save btn btn-primary float-right">
                Importieren
            </button>
            <button type="reset" class="btn btn-danger">
                Zurücksetzen
            </button>

            <a href="{% url 'bp:project_list' %}" class="btn btn-secondary">
                Abbrechen
            </a>
        {% endbuttons %}
    </form>

    <h5>Struktur CSV-Datei:</h5>
    <ul>
        <li>Die CSV-Datei muss Semikolon-separiert sein</li>
        <li>Die Datei muss folgende Spalten enthalten:</li>
        <ul>
            <li><u>nr</u>: Nummer des Projekts</li>
            <li><u>ag</u>: Name Auftraggeber</li>
            <li><u>ag_mail</u>: E-Mail-Adresse Auftraggeber</li>
            <li><u>title</u>: Name des Projekts</li>
            <li><u>order_id</u>: ???</li>
        </ul>
    </ul>

    <h5>Beispielhafte CSV-Datei:</h5>
    <div class="code-example">
        nr;ag;ag_mail;title;order_id<br>
        1;Auftraggeber2;auftraggeber2@mail.de;Projekt 4;2<br>
        3;Auftraggeber15;auftraggeber15@mail.de;Projekt 3;3<br>
        4;Auftraggeber7;auftraggeber7@mail.de;Projekt 6;4
    </div>

{% endblock %}

