{% extends "bp/base.html" %}

{% load tags_bp %}
{% load fontawesome_5 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item active">Projekte</li>
{% endblock %}


{% block content %}
    <div class="float-right mb-4">
        {% if user.is_staff %}
            <a class="btn btn-danger" href="{% url "bp:import_overview" %}">Daten importieren</a>
            <a class="btn btn-warning" href="{% url "bp:project_list_ungraded" %}">{% fa5_icon "filter" "fas" %} AG Unbewertet</a>
            <a class="btn btn-info" href="{% url "bp:project_export_grades" %}">Punkte für Moodle exportieren</a>
        {% endif %}
    </div>

    <h1>{{ page_title }}</h1>

    {% project_overview_list %}

{% endblock %}
