{% extends "bp/base.html" %}

{% load bootstrap4 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item">Bewertungen</li>
    <li class="breadcrumb-item active">Import</li>
{% endblock %}

{% block content3 %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Submit"/>
</form>
{% endblock %}


{% block content %}
    <h1>Import: Projekt-Bewertungen</h1>

    <form method="POST" class="post-form" enctype='multipart/form-data'>{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="save btn btn-primary float-right">
                Importieren
            </button>
            <button type="reset" class="btn btn-danger">
                Zurücksetzen
            </button>

            <a href="{% url 'bp:project_list' %}" class="btn btn-secondary">
                Abbrechen
            </a>
        {% endbuttons %}
    </form>

    <h5>Struktur CSV-Datei:</h5>
    <ul>
        <li>Die CSV-Datei muss Komma-separiert sein</li>
        <li>Die Datei muss folgende Spalten enthalten:</li>
        <ul>
            <li><u>nr</u>: Nummer des Projekts</li>
            <li><u>notes</u>: Notizen zur Bewertung</li>
            <li>Entweder <u>pitch_grade</u> oder <u>docs_grade</u></li>
            <ul>
                <li><u>pitch_grade</u>: Note des Vortrags (Dezimaltrennzeichen: Punkt)</li>
                <li><u>docs_grade</u>: Note der Dokumentation (Dezimaltrennzeichen: Punkt)</li>
            </ul>
        </ul>
    </ul>

    <h5>Beispielhafte CSV-Datei:</h5>
    <div class="code-example">
        nr,notes,docs_grade<br>
        2,Toll gemacht!,1<br>
        4,Geht besser!,3.7<br>
        7,Beispieltext,1.3
    </div>

{% endblock %}

