{% extends "bp/base.html" %}

{% load bootstrap4 %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "bp:index" %}">Übersicht</a></li>
    <li class="breadcrumb-item">Bewertungen</li>
    <li class="breadcrumb-item active">Import</li>
{% endblock %}

{% block content3 %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Submit"/>
</form>
{% endblock %}


{% block content %}
    <h1>Import: Projekt-Bewertungen</h1>

    <form method="POST" class="post-form" enctype='multipart/form-data'>{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="save btn btn-primary float-right">
                Importieren
            </button>
            <button type="reset" class="btn btn-danger">
                Zurücksetzen
            </button>

            <a href="{% url 'bp:project_list' %}" class="btn btn-secondary">
                Abbrechen
            </a>
        {% endbuttons %}
    </form>

    <h5>Struktur CSV-Datei:</h5>
    <ul>
        <li>Die CSV-Datei muss {{ separator_name }}-separiert sein</li>
        <li>Die Datei muss folgende Spalten enthalten:</li>
        <ul>
            <li><u>{{ project }}</u>: Nummer des Projekts</li>
            <li>Eine oder beide der folgenden Spalten:</li>
            <ul>
                <li><u>{{ pitch_grade }}</u>: Punkte des Vortrags (Dezimaltrennzeichen: Punkt)</li>
                <li><u>{{ docs_grade }}</u>: Punkte der Dokumentation (Dezimaltrennzeichen: Punkt)</li>
            </ul>
            <li>Falls Spalte '{{ pitch_grade }}' vorhanden ist - <u>{{ pitch_notes }}</u>: Notizen zur Bewertung des Vortrags</li>
            <li>Falls Spalte '{{ docs_grade }}' vorhanden ist - <u>{{ docs_notes }}</u>: Notizen zur Bewertung der Dokumentation</li>
        </ul>
    </ul>

    <h5>Beispielhafte CSV-Dateien:</h5>
    <div class="code-example">
        {{ project }}{{ separator }}{{ pitch_notes }}{{ separator }}{{ pitch_grade }}<br>
        2{{ separator }}Toll gemacht!{{ separator }}76<br>
        4{{ separator }}Geht besser!{{ separator }}47<br>
        7{{ separator }}Beispieltext{{ separator }}60
    </div>
    <br>
    <br>
    <div class="code-example">
        {{ project }}{{ separator }}{{ pitch_notes }}{{ separator }}{{ pitch_grade }}{{ separator }}{{ docs_notes }}{{ separator }}{{ docs_grade }}<br>
        2{{ separator }}Toller Vortrag!{{ separator }}77{{ separator }}Tolle Dokumentation!{{ separator }}74<br>
        4{{ separator }}Nicht frei gesprochen.{{ separator }}32{{ separator }}Könnte besser geschrieben sein.{{ separator }}37<br>
        7{{ separator }}Beispieltext{{ separator }}60{{ separator }}Beispieltext{{ separator }}60
    </div>

{% endblock %}

