{% load fontawesome_5 %}

    <td>Gesamtbewertung:</td>
    <td>
        {% if is_complete %}
            {{ total_points }} Punkte
        {% else %}
            ({{ total_points }}) Punkte
        {% endif %}
    </td>
</tr>
<tr>
    <td>
        Pitch:<br>
        AG:<br>
        Doku:<br>
    </td>
    <td>
        {{ pitch_points|default:"-" }} Punkte {{ pitch_grade_notes }}<br>
        {{ ag_points   |default:"-" }} Punkte<br>
        {{ docs_points |default:"-" }} Punkte {{ docs_grade_notes }}
    </td>
